In [1]:
import pandas as pd

In [28]:
df = pd.read_csv('yoshinou_1.csv')
df1=df.loc[:,['X1','Y1','Z1']]
df2=

            X1       Y1        Z1
0     0.488236  1.06344  0.399014
1          NaN      NaN       NaN
2          NaN      NaN       NaN
3          NaN      NaN       NaN
4          NaN      NaN       NaN
...        ...      ...       ...
9748       NaN      NaN       NaN
9749       NaN      NaN       NaN
9750       NaN      NaN       NaN
9751       NaN      NaN       NaN
9752       NaN      NaN       NaN

[9753 rows x 3 columns]

In [13]:
df.fillna(0)

,Time (Seconds),X1,Y1,Z1,X2,Y2,Z2,X3,Y3,Z3,...,Z5,X6,Y6,Z6,X7,Y7,Z7,X8,Y8,Z8
0,0.00,0.488236,1.06344,0.399014,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
1,0.01,0.000000,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
2,0.02,0.000000,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
3,0.03,0.000000,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
4,0.04,0.000000,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9748,97.48,0.000000,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.324047,1.071620,0.426513
9749,97.49,0.000000,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.324070,1.071618,0.426213
9750,97.50,0.000000,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.324107,1.071569,0.425806
9751,97.51,0.000000,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.324302,1.071638,0.425366
9752,97.52,0.000000,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.324379,1.071646,0.425067